@model HomeIndexModel

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                FooCount
            </td>
            <td>
                @Model.FooCount
            </td>
        </tr>
        <tr>
            <td>
                FooEnabled
            </td>
            <td>
                @Model.FooEnabled
            </td>
        </tr>
        <tr>
            <td>
                FooString
            </td>
            <td>
                @Model.FooString 
            </td>
        </tr>
    </tbody>
</table>